[submodule "submodules/slang-rhi"]
	path = submodules/slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "submodules/jolt"]
	path = submodules/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk.git
[submodule "submodules/spirv-reflect"]
	path = submodules/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
