[submodule "submodules/slang-rhi"]
	path = submodules/slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "submodules/luau"]
	path = submodules/luau
	url = https://github.com/luau-lang/luau.git
[submodule "submodules/jolt"]
	path = submodules/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
